.state {
    /*fill: brown;*/
    stroke: none;
    stroke-linejoin: round;
}

svg {
    background: lightsteelblue;
}

body {
    /*background: lightsteelblue;*/
}

.axis path,
.axis line {
    fill: none;
    stroke: black;
    shape-rendering: crispEdges;
}

div.tooltip{
    position: absolute;
    background-color : lightsteelblue;
    pointer-events: none;
}

